@model MotoGP.Models.ViewModels.EditTicketVM

<p>Name  @Model.Ticket.Name</p>
<p>Email  @Model.Ticket.Email</p>
<p>Address @Model.Ticket.Address</p>
<p>Country @Model.Country.Name</p>
<p>Race @Model.Race.Name</p>
<p>Number @Model.Ticket.Number</p>
<p>@Html.DisplayNameFor(model => model.Ticket.Paid)</p>
